.small-creditcard-container {
    background: linear-gradient(180deg, #EAEAEA 0%, #B2D0CE 100%);
    height: 170px;
    width: 148px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px 20px 16px;
    box-sizing: border-box;
}

.small-creditcard-container > svg {
  font-size: 30px;
}

.small-creditcard-limit {
  display: flex;
  flex-direction: column;
}

.small-creditcard-limit > span:last-child {
  font-weight: 700;
  font-size: 14px;
}

.brand-visa {
  background: linear-gradient(180deg, #FCFFDF 0%, #F1FE87 100%);
}

.brand-mastercard {
  background: linear-gradient(180deg, #F2EFF4 0%, #B8A9C6 100%);
}

.brand-americanexpress {
  background: linear-gradient(180deg, #EAEAEA 0%, #B2D0CE 100%);
}
