.favorite-item-container {  
  background: linear-gradient(180deg, #EAEAEA 0%, #B2D0CE 100%);
  width: 32px;
  height: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;   
}

.favorite-item-icon > svg {
  font-size: 25px;
  padding: 6px 0px 0px 6px;
}

.favorite-item-title {  
  font-weight: 500;
  font-size: 11px;
  color: #EAEAEA;
  padding: 11px 0px 0px 0px;  
  white-space: break-spaces;
  width: min-content;
}

.icon-star {
  background: linear-gradient(180deg, #FCFFDF 0%, #F1FE87 100%);
}

.icon-chart {
  background: linear-gradient(180deg, #F2EFF4 0%, #B8A9C6 100%);
}

.icon-wallet {
  background: linear-gradient(180deg, #EAEAEA 0%, #B2D0CE 100%);
}
